/* You can add global styles to this file, and also import other style files */


/*THEME DE MATERIAL: purple-green.css*/

@import "~@angular/material/prebuilt-themes/purple-green.css";
html,
body {
    margin: 0px;
}

.main-container {
    margin-top: 5px;
    padding: 10px;
}

strong,
p {
    color: black;
}